:root {
    --color-green: #66BB33;
    --color-light-green: #C5C772;
    --color-yellow: #DFAD40;
    --color-pink: #E66699;
    --color-red: #FF2B34;
}

.charts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px;
    width: 100%;
}

.chart-card {
    background-color: #F6F6F6;
    border: none;
    border-radius: 1rem;
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 40px;
}

.header-area,
.bar-area {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: auto;
    align-items: center;
}

.legend-row,
.score-area {
    justify-self: end;
    text-align: end;
}

.number{
    font-weight: 700;
}

.question{
    font-weight: 400;
}

progress {
    height: 1rem;
    width: 100%;
    max-width: 16rem;
    background-color: #D9D9D9;
    border-radius: 20px;
}

progress::-webkit-progress-bar {
    background-color: #D9D9D9;
    border-radius: 20px;
}

.percentage {
    font-size: 2.2rem;
    text-align: center;
}

.badge {
    color: #fff;
    background-color: #66BB33;
    padding: 0.2rem 0.6rem;
    width: 100%;
    min-width: 92px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
}

.bar_green::-webkit-progress-value {
    background-color: var(--color-green);
    border-radius: 20px;
}

.bar_green::-moz-progress-bar {
    background-color: var(--color-green);
    border-radius: 20px;
}

.bar_light_green::-webkit-progress-value {
    background-color: var(--color-light-green);
    border-radius: 20px;
}

.bar_light_green::-moz-progress-bar {
    background-color: var(--color-light-green);
    border-radius: 20px;
}

.bar_yellow::-webkit-progress-value {
    background-color: var(--color-yellow);
    border-radius: 20px;
}

.bar_yellow::-moz-progress-bar {
    background-color: var(--color-yellow);
    border-radius: 20px;
}

.bar_pink::-webkit-progress-value {
    background-color: var(--color-pink);
    border-radius: 20px;
}

.bar_pink::-moz-progress-bar {
    background-color: var(--color-pink);
    border-radius: 20px;
}

.bar_red::-webkit-progress-value {
    background-color: var(--color-red);
    border-radius: 20px;
}

.bar_red::-moz-progress-bar {
    background-color: var(--color-red);
    border-radius: 20px;
}



.excelente {
    background-color: var(--color-green);
}
.excelenteT {
    color: var(--color-green);
}

.bom {
    background-color: var(--color-light-green);
}
.bomT {
    color: var(--color-light-green);
}

.regular {
    background-color: var(--color-yellow);
}
.regularT {
    color: var(--color-yellow);
}

.ruim{
    background-color: var(--color-pink);
}
.ruimT{
    color: var(--color-pink);
}

.pessimo {
    background-color: var(--color-red);
}
.pessimoT {
    color: var(--color-red);
}