/* menu adm */

.__perfil.active .__menu {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    top: 100%;
    right: 0;
    z-index: 10000;
}


/* From legacy html */

.forms .input {
    border: none !important; 
}

.footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
}

#footer {
    display: flex;
    justify-content: center;
    gap: 3px;
}

@media (max-width: 768px) {
    #footer {
        flex-direction: column;
        align-items: center;
    }
}

.box .title {
    background: none;
    padding: 0px 0px 0px 15px;
}

.forms .input {
    border: none;
}

.forms .input input {
    background: none;
    padding: 5px;
}

.mensagem {
    margin: 20px 20px 0 20px;
}

#PesquisaAtivo {
    float: left;
    margin-right: 0
}

.config_pesquisa .checkbox {
    margin-left: -4px;
}


.config_pesquisa input[type="radio"] {

    margin: 1px -1px 0px;
    float: left;
}

.opcoes_enviar_para label {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.opcoes_enviar_para {
    margin-top: -5px;
}

.opcoes_enviar_para legend {
    margin-bottom: 1px;
    font-weight: 500;
    margin-left: 1px;
}

.mensagem {
    margin: 10px 0 0 0;
}

/* buttons style */

.button {
    border-radius: 0.6rem;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.button-md {
    padding: 8px 26px;
}

.button-md-alt {
    padding: 14px 26px;
}

.button-gray {
    background-color: #F9FAFB;
    /* border: 1px solid #CDD1D9; */
    outline: 1px solid #CDD1D9;
    color: #414651;
    outline-offset: -1px;
}

.button-red {
    background-color: #FF2B34;
    border: none;
    color: #fff;
}

.cancel a {}

.text-md {
    font-size: 0.95rem;
}

.text-l {
    font-size: 1rem;
}

.text-xl {
    font-size: 1.3rem;
}

.text-bold {
    font-weight: 600;
}

.text-red {
    color: #FF2B34;
}

.input-data {
    width: 13rem;
}

.ready-signal {
    color: #66BB33;
    background-color: #E7FFE1;
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
}

.ready-signal span {
    background-color: #66BB33;
    border-radius: 100%;
    width: 0.8rem;
    height: 0.8rem;
}

.headPage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
}

.holder {
    gap: 1.2rem;
}

.holder .box.pesquisa_pergunta,
.holder .headPage,
.holder .footer,
.holder .send-survey {
    margin: 0 auto;
    max-width: 1366px;
}

.info-textos div p {
    display: flex;
    flex-direction: column;
}

.table-resp {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    border: 1px solid #EBEBEB;
    overflow: hidden;
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #EBEBEB;
    border-radius: 15px;
}

.table-resp {
    width: 100%;
    min-width: 550px;
    border: none;
    border-radius: 0;
}