/* menu adm */

.__perfil.active .__menu {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    top: 100%;
    right: 0;
    z-index: 10000;
}


/* From legacy html */

#footer {
    display: flex;
    justify-content: center;
    gap: 3px;
}

@media (max-width: 768px) {
    #footer {
        flex-direction: column;
        align-items: center;
    }
}