/* menu adm */

.__perfil.active .__menu {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    top: 100%;
    right: 0;
    z-index: 10000;
}


/* From legacy html */

.footer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
}

#footer {
    display: flex;
    justify-content: center;
    gap: 3px;
}

@media (max-width: 768px) {
    #footer {
        flex-direction: column;
        align-items: center;
    }
}

/* buttons style */

.button{
    border-radius: 0.8rem;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
}

.button-gray{
    background-color: #F9FAFB;
    border: 1px solid #CDD1D9;
    color: #414651;
}

.button-red{
    background-color: #FF2B34;
    color: #fff;
}

.headPage{
    width: 100%;
    display: grid;
    grid-template-columns:  1fr 1fr;
    justify-items: end;
}

.holder{
    gap: 1.2rem;
}

.holder .box.pesquisa_pergunta, .holder .headPage, .holder .footer{
    margin: 0 auto;
    max-width: 1366px;
}