/* menu adm */

.__perfil.active .__menu {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    top: 100%;
    right: 0;
    z-index: 10000;
}


/* From legacy html */

.footer{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
}

#footer {
    display: flex;
    justify-content: center;
    gap: 3px;
}

@media (max-width: 768px) {
    #footer {
        flex-direction: column;
        align-items: center;
    }
}

/* buttons style */

.button{
    border-radius: 0.6rem;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}
.button-md{
    padding: 8px 26px;
    /* max-height: 44px; */
}

.button-gray{
    background-color: #F9FAFB;
    border: 1px solid #CDD1D9;
    color: #414651;
}

.button-red{
    background-color: #FF2B34;
    border: none;
    color: #fff;
}

.text-md{
    font-size: 0.95rem;
}
.text-l{
    font-size: 1rem;
}
.text-xl{
    font-size: 1.3rem;
}

.text-bold{
    font-weight: 600;
}

.ready-signal{
    color: #66BB33;
    background-color: #E7FFE1;
    padding: 0.25rem 0.5rem;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
}
.ready-signal span{
    background-color: #66BB33;
    border-radius: 100%;
    width: 0.8rem;
    height: 0.8rem;
}

.headPage{
    width: 100%;
    display: grid;
    grid-template-columns:  1fr 1fr;
    justify-items: end;
}

.holder{
    gap: 1.2rem;
}

.holder .box.pesquisa_pergunta, .holder .headPage, .holder .footer,  .holder .send-survey{
    margin: 0 auto;
    max-width: 1366px;
}

.info-textos div p{
    display: flex;
    flex-direction: column;
}

.table-resp {
    border-collapse: separate;
    border-spacing: 0;      
    border-radius: 15px;       
    border: 1px solid #EBEBEB; 
    overflow: hidden;         
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #EBEBEB;
    border-radius: 15px;
}

.table-resp {
    width: 100%;
    min-width: 550px;
    border: none;
    border-radius: 0;
}


